@model IEnumerable<ArtAlbum.UI.Web.Models.CommentVM>

@foreach (var comment in Model)
{
    <p>@comment.Data</p>
    <p>@comment.DateOfCreating</p>
    <hr />
}

@using (Html.BeginForm("Comment", "Images", FormMethod.Post))
{
    <input type="text" id="commentText" name="searchQuery" placeholder="Введите слово или фразу из описания" required="" />
    <input type="submit" value="Готово" />
}
