@model IEnumerable<ArtAlbum.UI.Web.Models.ImageVM>

@{
    foreach (var image in @Model)
    {
        
        <div class="col-md-4">
            <div class="block">
                <a href="#@image.Id">
                    <img src="@Url.Action("GetImage", "Images", new { id = image.Id })" class="img-responsive">
                </a>
            </div>  
                <a href="#x" class="overlay" id="@image.Id"></a>
                <div class="popup">
                    <div class="row">
                        <div class="col-md-8">

                            <div class="top_image">
                                <img src="@Url.Action("GetImage", "Images", new { id = image.Id })" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="username">
                                        art by dude
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="description">
                                        <h2>@image.Description</h2>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="comments">
                                        <ul>
                                            <li>
                                                <div class="comment">
                                                    <div class="reply_image">
                                                        <a href="/id337666144">
                                                            <img src="https://pp.userapi.com/c638118/v638118144/2e841/62u6MoGqux8.jpg" width="40" height="40" class="reply_img" alt="Тимофей Наталин">
                                                        </a>
                                                    </div>
                                                   
                                                    <div content_commetn>
                                                        <div class="reply_author">
                                                            <a class="author" href="/id337666144" data-from-id="337666144">Коментатор1</a>
                                                        </div>
                                                        <div class="reply_text">
                                                        
                                                            <div class="wall_reply_text">Комент 1</div>
                                                            

                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                            </li>
                                            <li>
                                                <div class="comment">
                                                    <div class="reply_image">
                                                        <a href="/id337666144">
                                                            <img src="https://pp.userapi.com/c638118/v638118144/2e841/62u6MoGqux8.jpg" width="40" height="40" class="reply_img" alt="Тимофей Наталин">
                                                        </a>
                                                    </div>

                                                    <div class="content_commetn">
                                                        <div class="reply_author">
                                                            <a class="author" href="/id337666144" data-from-id="337666144">Коментатор1</a>
                                                        </div>
                                                        <div class="reply_text">

                                                            <div class="wall_reply_text">Очень длинный комментарий прям очень очень ааааааааааааааааааааааааааааааааааааа</div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="addcomment">
                                        <form action="handler.php">
                                            <p><b>Введите ваш Комментарий:</b></p>
                                            <p><textarea name="comment"></textarea></p>
                                            <p><input type="submit"></p>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <a class="close" title="Закрыть" href="#close"></a>
                </div>

               
            
        </div>

    }
}
