
@{
    ViewBag.Title = "AddImage";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




    <div class="container bg-gray ">
        <div class="row">
            <section class="home-section text-center bg-gray">

                <div id="main info"  class="col-xs-12 col-sm-12 col-md-4">
                    <div class="row">

                        <div class="col-md-5" style="align-self:center;">
                            <h2>Privet</h2>
                            @*<a href="~/Content/img/works/1.jpg" data-lightbox-gallery="gallery1">
                                
                            </a>*@
                            <img  width="250" height="250" src="~/Content/img/k5wifKaPaZs.jpg" />
                        </div>
                    </div>
                    <div class="row">
                       <br /> 
                            <div id="list_dropdowns" class="col-md-5">
                               @*<div class="arrow-top">*@
                                    <div class="dropdown_menu">
                                        
                                            <h3  ><span>Settings</span></h3>
                                        
                                        <ul class="list_item" style="display: none;">
                                            <li> <a>Change Avatar</a></li>
                                            <li>Change My page</li>
                                            <li>Delete My page</li>

                                        </ul>
                                    

                                    <!--<button class="btn btn-primary ">

        </button>
        <button class="btn btn-primary ">

        </button>
        <button class="btn btn-primary">

        </button>-->

                                </div>                        
                    </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6">
                            
                            <div class="addimage">
                                 <a href="#loadimage" class="button7"><span class="glyphicon glyphicon-file"></span> Add image</a>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-md-8 col-lg-8">
                    <h2>Favorite images</h2>
                    <div class="Favorite_images" >
                        <div class="col-md-4">
                           
                            <a class="Favorite_image" href="#win2"  >
                               <img src="~/Content/img/DSC05978.jpg" class="img-responsive" >
                            </a>
                            <a href="#x" class="overlay" id="win2"></a>
                            <div class="popup">
                                <div class="pic-right">
                                    <img src="~/Content/img/DSC05978.jpg" />
                                </div>
                                <h2>Описание к изображению</h2>
                                <p>
                                   Я пока не придумал как это должно выглядеть.Но обещаю завтра это уже будет как то выглядеть.
                                </p>
                                <a class="close" title="Закрыть" href="#close"></a>
                            </div>                     
                        </div>
                        <div class="col-md-4">
                            <a class="Favorite image" href="#win2">
                                <img src="~/Content/img/DSC05978.jpg" class="img-responsive">
                            </a>
                            <a href="#x" class="overlay" id="win2"></a>
                            <div class="popup">
                                <div class="pic-right">
                                    <img src="~/Content/img/DSC05978.jpg" />
                                </div>
                                <h2>Описание к изображению</h2>
                                <p>
                                    Я пока не придумал как это должно выглядеть.Но обещаю завтра это уже будет как то выглядеть.
                                </p>
                                <a class="close" title="Закрыть" href="#close"></a>
                            </div> 
                        </div>
                        <div class="col-md-4">
                            <a href="#win2">
                                <img src="~/Content/img/DSC05978.jpg" class="img-responsive">
                            </a>
                            <a href="#x" class="overlay" id="win2"></a>
                            <div class="popup">
                                <div class="pic-right">
                                    <img src="~/Content/img/DSC05978.jpg" />
                                </div>
                                <h2>Описание к изображению</h2>
                                <p>
                                    Я пока не придумал как это должно выглядеть.Но обещаю завтра это уже будет как то выглядеть.
                                </p>
                                <a class="close" title="Закрыть" href="#close"></a>
                            </div> 
                        </div>
                        <div class="col-md-4">
                            <a href="#win2">
                                <img src="~/Content/img/DSC05978.jpg" class="img-responsive">
                            </a>
                            <a href="#x" class="overlay" id="win2"></a>
                            <div class="popup">
                                <div class="pic-right">
                                    <img src="~/Content/img/DSC05978.jpg" />
                                </div>
                                <h2>Описание к изображению</h2>
                                <p>
                                    Я пока не придумал как это должно выглядеть.Но обещаю завтра это уже будет как то выглядеть.
                                </p>
                                <a class="close" title="Закрыть" href="#close"></a>
                            </div> 
                        </div>
                        <div class="col-md-4">
                            <a href="#win2">
                                <img src="~/Content/img/DSC05978.jpg" class="img-responsive">
                            </a>
                            <a href="#x" class="overlay" id="win2"></a>
                            <div class="popup">
                                <div class="pic-right">
                                    <img src="~/Content/img/DSC05978.jpg" />
                                </div>
                                <h2>Описание к изображению</h2>
                                <p>
                                    Я пока не придумал как это должно выглядеть.Но обещаю завтра это уже будет как то выглядеть.
                                </p>
                                <a class="close" title="Закрыть" href="#close"></a>
                            </div> 
                        </div>
                        
                    </div>
                   
                </div>
            </section>
        </div>
    </div>
<br />
<div class="container">

    <!-- блок кнопок на вызов модальных окон -->
   
        
        @*<a href="#win2" class="button button-red">Открыть окно 2</a>*@

   

   
    
    
    @*<a href="#x" class="overlay" id="win2"></a>
    <div class="popup">
        <div class="pic-right">
            <img src="http://dbmast.ru/img/afroseo.jpg" />
        </div>
        <h2>Доброго дня или ночи!</h2>
        <p>
            Цели и стратегии развития блога, а так же понимание того, что предстоит сделать, прочно нарисовались на горизонте. Продолжается планомерное вгрызание в сообщество блогеров, так сказать, отвоевывание места под солнцем.
            Надеюсь когда-нибудь сумею определиться с действительным предназначением и полезностью данного ресурса.
        </p>
            <p>
            Если Вы пришли  сюда не по воле случая, а в поисках ответов на вопрос: &laquo;Как сделать сайт  лучше&raquo;, то убежден, Вы найдете много полезной и интересной информации.
        </p>
        

        <a class="close" title="Закрыть" href="#close"></a>
    </div>*@


   
</div>
    <a href="#x" class="overlay" id="loadimage"></a>
    <div class="popup">
        <form method="post" enctype="multipart/form-data">
            <label>
                Описание
                <input  name="Description" type="text" />
            </label>
            <label>
                Загрузить изображение
                <input  name="dataImage" type="file" />
            </label>
            <button class="button15">Добавить</button>
        </form>
        @*<form action="upload.php">


                    <p>Drag an image from your desktop on to the drop zone or jast push to button</p>

                    <div id="holder" style="width:100px; height:100px; background-color:gray">

                    </div>
                    <p>
                        <input type="file" name="photo" multiple accept="image/*,image/jpeg">
                        <input type="submit" value="Отправить">
                    </p>
                    <p>Upload progress: <progress id="uploadprogress" min="0" max="100" value="0">0</progress></p>






            </form>*@
    </div>
<a href="#x" class="overlay" id="show"></a>
<div class="popup">
    <img class="is-image" src="~/Content/img/DSC05967" >
    <a class="close" title="Закрыть" href="#close"></a>
</div>

    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2>My images</h2>
                <div class="row gallery-item">
                    <div class="col-md-4">
                        <a href="~/Content/img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="~/Content/img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="~/Content/img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="~/Content/img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="~/Content/img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="~/Content/img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="~/Content/img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="~/Content/img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="~/Content/img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="~/Content/img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="~/Content/img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="~/Content/img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="~/Content/img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="~/Content/img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*<h2>Добавить изображение</h2>*@
    @*<form method="post" enctype="multipart/form-data">
            <label>
                Описание
                <input name="Description" type="text" />
            </label>
            <label>
                Загрузить изображение
                <input name="dataImage" type="file" />
            </label>
            <button>Добавить</button>
        </form>*@
