
@{
    ViewBag.Title = "AddImage";
}

<h2>Добавить изображение</h2>
<form method="post" enctype="multipart/form-data">
    <label>
        Описание
        <input name="Description" type="text" />
    </label>
    <label>
        Загрузить изображение
        <input name="dataImage" type="file" />
    </label>
    <button>Добавить</button>
</form>

