@model IEnumerable<ArtAlbum.UI.Web.Models.ImageVM>

@{
    ViewBag.Title = "Index";
}

<h2>Изображения</h2>
<table class="table table-striped">
    <tr>
        <td>Дата создания</td>
        <td>Описание</td>
        <td>Изображение</td>
    </tr>
    @{
        foreach (var image in Model)
        {
            <tr>
                <td>@image.DateOfCreating</td>
                <td>@image.Description</td>
                <td><img src="/artalbum/getimage/@image.Id" /></td>
            </tr>
        }
    }
</table>

<div class="container">

    <div class="row" style="margin-top:100px;">


        <div id="list_dropdowns" class="col-xs-12  col-md-2">

            <h2 class="Header">Type</h2>

            <div class="dropdown_menu">
                <h3><span>Природа</span></h3>
                <ul class="list_item" style="display: none;">
                    <li> <a>Что то про Наруто</a></li>
                    <li>Пункт №2</li>
                    <li>Пункт №3</li>
                    <li>Пункт №4</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Люди</span></h3>
                <ul class="list_item" style="display: none;">
                    <li>Пункт №5</li>
                    <li>Пункт №6</li>
                    <li>Пункт №7</li>
                    <li>Пункт №8</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Женщины</span></h3>
                <ul class="list_item" style="display: none;">
                    <li> <a>Что то про Наруто</a></li>
                    <li>Пункт №2</li>
                    <li>Пункт №3</li>
                    <li>Пункт №4</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Бибки</span></h3>
                <ul class="list_item" style="display: none;">
                    <li>Пункт №5</li>
                    <li>Пункт №6</li>
                    <li>Пункт №7</li>
                    <li>Пункт №8</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Что то про наруто</span></h3>
                <ul class="list_item" style="display: none;">
                    <li> <a>Что то про Наруто</a></li>
                    <li>Пункт №2</li>
                    <li>Пункт №3</li>
                    <li>Пункт №4</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Крутые картиночки</span></h3>
                <ul class="list_item" style="display: none;">
                    <li>Пункт №5</li>
                    <li>Пункт №6</li>
                    <li>Пункт №7</li>
                    <li>Пункт №8</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-md-8 ">
            <div class="center-block">
                <h2>followers activity</h2>
                <div class="row gallery-item">
                    <div class="col-md-4">
                        <a href="img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/2.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/3.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/4.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/5.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/6.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div id="tags" class="col-xs-12 col-sm-12 col-md-2">
            <h2 class="Header">Tags</h2>


            <h3><a href="#">#cool</a></h3>


            <h3><a href="#">#cool</a></h3>
            <h3><a href="#">#cool</a></h3>
            <h3><a href="#">#cool</a></h3>
            <h3><a href="#">#cool</a></h3>
        </div>
    </div>


</div>
<!-- /Section: types art and followers activity -->
<!-- Section: works -->
<section id="works" class="home-section text-center bg-gray">
    <div class="heading-works marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Recent Works</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="row gallery-item">
                    <div class="col-md-4">
                        <a href="img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/2.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/3.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/4.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/5.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/6.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/7.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/7.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/works/8.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/8.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

