<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ArtAlbumDB" connectionString="Data Source=DESKTOP-A0DAPQE;Initial Catalog=ArtAlbumDB;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="DAL" value="DataBase"/>
    <add key="BLL" value="DefaultLogic"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>