@model IEnumerable<ArtAlbum.UI.Web.Models.UserVM>
@{
    ViewBag.Title = "Поиск пользователей";
}

<h2>SearchUsers</h2>
@using (Html.BeginForm("SearchUsers", "Home", FormMethod.Get))
{
    <div class="search-inputs ">
        <div class="container">
            <div class="row">
                <h1 class="standard-h1">Поиск пользователей</h1>
                <div style="margin-left:30px;" class="col-md7">

                    <div class="form-element search-input">
                        <label for="search">Никнейм:</label>
                        <input class="form-control" type="text" id="searchQuery" name="searchQuery" placeholder="Введите никнейм частично или полностью" />
                    </div>

                    <div class="form-element">

                        <input type="submit" class="btn btn-primary" value="Поиск">

                    </div>
                </div>
            </div>
        </div>




    </div>
}
@{
    if (Model != null && Model.Count() != 0)
    {
        <ol class="user-list">
            <div class="section-heading">
                <h2>Результаты поиска</h2>
            </div>
            @foreach (var item in Model)
            {
                <li>
                    <div class="user-list-item col-md-9">
                        <div class="reply_image">
                            <a href="@Url.Action("GetUser","Users" ,new {nickname =item.Nickname})">
                                <img src="@Url.Action("GetAvatar", "Users", new { userId = item.Id })" class="reply_img">
                            </a>
                        </div>
                        <p><a href="@Url.Action("GetUser","Users" ,new {nickname =item.Nickname})">@Html.DisplayFor(modelItem => item.Nickname)</a>  </p>
                    </div>
                    <br />
                    <hr />
                </li>
            }
        </ol>
    }
    else
    {
        <p>Ничего не найдено</p>
    }
}
