
@{
    ViewBag.Title = "ExpertAdministration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExpertAdministration</h2>

<ol class="user-list">
    
    <h3 style="text-align:center"> Кандидаты в эксперты </h3>

        <li>

            

            <div class="dropdown col-md-3">

                <a class="button7 dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Никнейм <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="#">Ссылка на страницу</a>
                    </li>
                    <li>
                        Имя
                    </li>
                    <li>
                        Фамилия
                    </li>
                    <li>
                        Почта
                    </li>
                    <li>
                        Дата Рождения:
                    </li>
                    <li>
                        Возраст:
                    </li>
                    <li>

                    </li>
                </ul>
            </div>
           
            <br />
            <br />
            <br />
        </li>
    <li>



        <div class="dropdown col-md-3">

            <a class="button7 dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Никнейм <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                    <a href="#">Ссылка на страницу</a>
                </li>
                <li>
                    Имя
                </li>
                <li>
                    Фамилия
                </li>
                <li>
                    Почта
                </li>
                <li>
                    Дата Рождения:
                </li>
                <li>
                    Возраст:
                </li>
                <li>

                </li>
            </ul>
        </div>

        <br />
        <br />
        <br />
    </li>
    <li>



        <div class="dropdown col-md-3">

            <a class="button7 dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Никнейм <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                    <a href="#">Ссылка на страницу</a>
                </li>
                <li>
                    Имя
                </li>
                <li>
                    Фамилия
                </li>
                <li>
                    Почта
                </li>
                <li>
                    Дата Рождения:
                </li>
                <li>
                    Возраст:
                </li>
                <li>

                </li>
            </ul>
        </div>
        <div class="dropdown col-md-5">
            <a class="button7 "  >
                Посмотреть портфолио 
            </a>
        </div>
            <br />
            <br />
            <br />
</li>





   


</ol>