@model IEnumerable<ArtAlbum.UI.Web.Models.ImageVM>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2>Search</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h1 class="standard-h1">Поиск фотографий по словам</h1>
                <form name="serach_form" class="search-form" action="/search/search_word/" method="get">
                    <div class="form-element search-input">
                        <label for="search">Введите ключевое слово для  поиска</label>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    
                       
                   
                   
                    <div class="form-element">
                        <div class="radios">
                            <span id="look_at">
                                <input value="all" id="look_at_0" checked="checked" type="radio" name="look_at">
                                <label for="look_at_0">Везде</label>
                                <input value="names" id="look_at_1" type="radio" name="look_at">
                                <label for="look_at_1">В названии</label>
                                <input value="options" id="look_at_2" type="radio" name="look_at">
                                <label for="look_at_2">В описании</label>
                                <input value="tags" id="look_at_3" type="radio" name="look_at">
                                <label for="look_at_3">По тегам</label>
                            </span>
                        </div>
                    </div>
                    <div class="form-element">
                        <input type="hidden" name="sort_type" value="weight" id="sort_type_hidden">
                        <input type="submit" class="button" value="Искать">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div >
                <h2>Популярные запросы</h2>
                <ul class="top_requests">
                    <li >
                        
                        <a>Легендарный Жока</a>
                    </li>
                    <li>
                        <a>Легендарный Жока</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>