
@{
    ViewBag.Title = "QuestionsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QuestionsPage</h2>

<div class="questionspage">
    <h2>Вопросы и ответы</h2>
    <a class="ask-question" href="#"><h3>Задать вопрос</h3></a>
    <ul class="questions">
        <li class="question">
            <a href="#">
                <div class="row">
                    <div class="col-md-2">
                        <div class="authorimage"></div>
                    </div>
                    <div class="col-md-2">
                        <div class="Nickname"><h4>Автор: Вася</h4></div>
                    </div>
                    <div class="col-md-5">
                        <div class="date-of-creating-question"><h4>Дата создания вопроса: 20.10.1998</h4></div>
                    </div>
                    <div class="col-md-3">
                        <span id="icon1" class="glyphicon glyphicon-comment fa-3x" aria-hidden="true"></span>

                        <div class="number-of-answers"><h4>Колличество ответов на вопрос:</h4> <br /><h3>4</h3> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">

                            <div class="caption-of-question"><h2>Как сделать вот так вотaaaaaa aaaaaaaaa aaaaaaaa aaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h2></div>
                        </div>
                    </div>
                </div>

            </a>
        </li>
        <li class="question">

        </li>
        <li class="question">

        </li>
    </ul>
</div>