
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Settings</h2>


<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Приватность</a></li>
            <li role="presentation"><a href="#">Общее</a></li>
            <li role="presentation"><a href="#">Оповещения</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>
                Кто может видеть список моих
                сохранённых фотографий
            </p>
            
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 button <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Все</a></li>
                <li><a href="#">Друзья </a></li>
                <li><a href="#">Только я </a></li>
                
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
</div>